[tar]
        umask = 0002
[core]
        autocrlf = false
        editor = vim
[user]
	name = Antonia Stevens
        email = a@ant.st
[credential]
        helper = cache --timeout=3600
[push]
        default = matching
[diff]
        tool = vimdiff
[merge]
        tool = vimdiff
