[submodule ".vim/bundle/vim-arduino"]
	path = vim/pack/native/start/vim-arduino
	url = https://github.com/sudar/vim-arduino-syntax
[submodule ".vim/bundle/syntastic"]
	path = vim/pack/native/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/antevens/dotbot
	ignore = dirty
[submodule "vim/pack/start/vim-airline"]
	path = vim/pack/native/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/native/start/indentLine"]
	path = vim/pack/native/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/pack/native/start/jedi-vim"]
	path = vim/pack/native/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/pack/themes/start/vim-code-dark"]
	path = vim/pack/themes/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark
